
[class*="col-"] {
  float: left;
  padding: 15px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 3.33%;}
.col-15 {width: 13.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-35 {width: 27%;}
.col-4 {width: 29%;}
.col-45 {width: 30%;}
.col-47 {width: 36%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-6.5 {width: 55%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 99%;}
